[user]
	email = supadhya@redhat.com
	name = Sanjay Upadhyay
[alias]
	  co = checkout
	  ci = commit
	  st = status
	  br = branch
	  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	  type = cat-file -t
	  dump = cat-file -p

#[url "https://github.com/"]
#	insteadOf = git://github.com/
#[url "git://github.com/"]
#	insteadOf = https://github.com/
[gitreview]
	username = saneax
[push]
	default = simple
[color]
	ui = auto
[git]
	username = saneax
[diff]
	renamelimit = 2000
	renames = true
